doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/stylesheets/styleupdate.css")
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    // bag-gallery css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    title Main

    
  body
 
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Actualización de datos
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            
            .input-group
              .input-group-prepend
                i.fas.fa-user-circle(style='padding-top: 8px;padding-right: 5px;')

                span#nombre.input-group-text(style='\ width: 7vw;\ ')   Nombre
              input#name.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fas.fa-user-friends(style='padding-top: 8px;padding-right: 5px;')

                span#apellido.input-group-text(style='\ width: 7vw;\ ')  Apellido
              input#lastname.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fas.fa-birthday-cake(style='padding-top: 8px;padding-right: 5px;')

                span#edad.input-group-text(style='\ width: 7vw;\ ')   Edad
              input#age.form-control(type='text')
            
            br
            .input-group
              .input-group-prepend
                i.fas.fa-user-graduate(style='padding-top: 8px;padding-right: 5px;')

                span#carrera.input-group-text(style='\ width: 7vw;\ ')   Carrera
              input#career.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fas.fa-pen-square(style='padding-top: 8px;padding-right: 5px;')

                span#biografia.input-group-text(style='\ width: 7vw;\ ')   Biografía
              input#description.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fab.fa-gratipay(style='padding-top: 8px;padding-right: 5px;')

                span#intereses.input-group-text(style='\ width: 7vw;\ ')   Intereses
              input#hobbies.form-control(type='text')
            br
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button' id="submit") Save changes

    h1= pics
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          i.fas.fa-align-justify
        #navbarSupportedContent.collapse.navbar-collapse
          h6.text-white DateU
          ul.nav.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/') Home
            li.nav-item
              //a.nav-link(href='#') My account
              //a.nav-link(data-toggle='modal', data-target='#myModal', href='#') My account
              a.nav-link( data-toggle='modal', data-target='#exampleModal' id='account') My account
              //button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')| Launch demo modal
            li.nav-item
              a.nav-link(href='#') Matches
            li.nav-item
              a.nav-link(href='/users/logout') Sign out
    form(action='#' name='userForm')
      //banner-profile
      .wrapper-header.mask.rgba-gradient
        header.container.headerb
          .row
            .col-md-3
              .mainb
                img.rounded-circle.img-fluid(src='images/w7.jpg', alt='Profile pic', id='profileImage')
            .col-md-7.prof-info
              .pname.text-white
                h6(name='UserName' id='UserName') #{user.profile.firstName} 
                  span(id='UserLastName') #{user.profile.lastName}
                h6(id='UserAge') #{user.profile.edad} años
                h6(id='UserCareer') #{user.profile.carrera}
                h6(id='email') #{user.profile.email}
            .col-md-2.buttons.float-right.mt-3
              button.btn.btn-primary
                i.fa.fa-bolt.mr-1
                | SL
              button.btn.btn-primary
                i.fas.fa-heart.mr-1
                | CF
              button.btn.btn-primary
                i.fab.fa-rocketchat.mr-1
                | CH
      .container
        ul.filter.controls
          li(onclick='slider2()') Bio
          li(onclick='slider1()') Pictures
        hr.hr-dark
      #bio.container
        .row.my-5
          .col-md-6
            .card
              .card-body
                .row
                  .col-12.col-lg-8.col-md-6
                    h3.display-4.mb-0.text-truncated Biografia
                    p.lead lorem
                    p(id='bio') #{user.profile.biografia}
                  .col-12.col-lg-4.col-md-6.text-center
                    img.mx-auto.rounded-circle.img-fluid(src='images/w7.jpg', alt='')
                // /row
                // /card-block
          .col-md-2.text-center.stats
            .card
              .card-body
                h3.mb-0 100K
                small stats
              // /card-block
          .col-md-2.text-center.stats
            .card
              .card-body
                h3.mb-0 100K
                small stats
              // /card-block
          .col-md-2.text-center.stats
            .card
              .card-body
                h3.mb-0 100k
                small stats
              // /card-block
              // end rowmain div de abajo
        .row.my-5
          .col-md-6
            .card
              .card-body
                .row.text-center
                  .col-md-4.secrowicons
                    i.fas.fa-bolt
                  .col-md-4.secrowicons
                    i.fas.fa-heart
                  .col-md-4.secrowicons
                    i.fas.fa-comment
          .col-md-6
            .card
              .card-body
                h3.display-4.mb-0.text-truncated Intereses
                p(id='hobs') #{user.profile.intereses}
        // end secondrow div arriba
      #gallery.container.gallery.mt-5(style='display: none;')
        .row
          .col-sm-12.col-md-4.gal-item
            .box
                .avatar-upload
                  .avatar-edit
                    input#imageUpload1(type='file', accept='.png, .jpg, .jpeg')
                    label(for='imageUpload1')
                  .avatar-preview
                    a.lightbox(href='images/w7.jpg')
                      img#imagePreview1(src='images/w7.jpg')
          .col-sm-6.col-md-4.gal-item
            .box
                .avatar-upload
                  .avatar-edit
                    input#imageUpload2(type='file', accept='.png, .jpg, .jpeg')
                    label(for='imageUpload2')
                  .avatar-preview
                    a.lightbox(href='images/w2.jpg')
                      img#imagePreview2(src='images/w2.jpg' name='imagePreview2')
          .col-sm-6.col-md-4.gal-item
            .box
                .avatar-upload
                  .avatar-edit
                    input#imageUpload3(type='file', accept='.png, .jpg, .jpeg')
                    label(for='imageUpload3')
                  .avatar-preview
                    a.lightbox(href='images/w3.jpg')
                      img#imagePreview3(src='images/w3.jpg')
          .col-sm-6.col-md-4.gal-item
            .box
                .avatar-upload
                  .avatar-edit
                    input#imageUpload4(type='file', accept='.png, .jpg, .jpeg')
                    label(for='imageUpload4')
                  .avatar-preview
                    a.lightbox(href='images/benches.jpg')
                      img#imagePreview4(src='images/benches.jpg')
          .col-sm-6.col-md-4.gal-item
            .box
                .avatar-upload
                  .avatar-edit
                    input#imageUpload5(type='file', accept='.png, .jpg, .jpeg')
                    label(for='imageUpload5')
                  .avatar-preview
                    a.lightbox(href='images/park.jpg')
                      img#imagePreview5(src='images/park.jpg')
    // Scripts
    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js')
    // Baguette gallery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/updateInfo.js')
    script.
      baguetteBox.run('.gallery');
