doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="/stylesheets/styleupdate.css")
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    // bag-gallery css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    title Main

    
  body
 
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Actualización de datos
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×

          .modal-body
            
            
            
            .input-group
              .input-group-prepend
                i.fas.fa-birthday-cake(style='padding-top: 8px;padding-right: 5px;')

                span#edad.nombres.input-group-text(style='\ width: 7vw;\ ')   Edad
              input#age.form-control(type='text')
            
            br

            .input-group
              .input-group-prepend
                i.fab.fa-gratipay(style='padding-top: 8px;padding-right: 5px;')

                span#edad.nombres.input-group-text(style='\ width: 7vw;\ ')   Estado Civil
              input#marital.form-control(type='text')
            
            br
            .input-group
              .input-group-prepend
                i.fas.fa-user-graduate(style='padding-top: 8px;padding-right: 5px;')

                span#carrera.nombres.input-group-text(style='\ width: 7vw;\ ')   Carrera
              input#career.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fas.fa-pen-square(style='padding-top: 8px;padding-right: 5px;')

                span#biografia.nombres.input-group-text(style='\ width: 7vw;\ ')   Biografía
              input#description.form-control(type='text')
            br
            .input-group
              .input-group-prepend
                i.fab.fa-gratipay(style='padding-top: 8px;padding-right: 5px;')

                span#intereses.nombres.input-group-text(style='\ width: 7vw;\ ')   Intereses
              input#hobbies.form-control(type='text')
            br
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button' id="submit") Save changes

    h1= pics
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          i.fas.fa-align-justify
        #navbarSupportedContent.collapse.navbar-collapse
          h6.text-white DateU
          ul.nav.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/') Home
            li.nav-item
              //a.nav-link(href='#') My account
              //a.nav-link(data-toggle='modal', data-target='#myModal', href='#') My account
              a.nav-link( data-toggle='modal', data-target='#exampleModal' id='account') Settings
              //button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')| Launch demo modal
            li.nav-item
              a.nav-link(href='/users/logout') Sign out
    form(action='#' name='userForm')
      //banner-profile
      .wrapper-header.mask.rgba-gradient
        header.container.headerb
          .row
            .col-md-3
              .mainb
                img.rounded-circle.img-fluid(src=current.profileImage, alt='Profile pic', id='profileImage')

            .col-md-7.prof-info
              .pname.text-white
                h6(name='UserName' id='UserName') #{current.name}
                  span(id='UserLastName') #{current.lastname}
                h6(id='UserAge') #{current.age} 
                h6(id='UserMarital') #{current.marital}
                h6(id='UserCareer') #{current.career}
                h6(id='email') #{current.email}
      .container
        ul.filter.controls
          li(onclick='slider2()') Pictures
          li(onclick='slider1()') Profile
        hr.hr-dark
      #bio.container(style='display: none;')
        .row.my-5
          .col-md-6            
            .card
              .card-body
                .row
                  .col-12.col-lg-8.col-md-6
                    h3.display-4.mb-0.text-truncated.mb-3 Biografia
                    p(id='biog') #{current.description}
                  .col-12.mt-5
                    h3.display-4.mb-0.text-truncated.mb-3 Intereses
                    p(id='hobs') #{current.hobbies}
                // /row
                // /card-block
          .col-md-6.scrolling
            h6 Suggested People
            each u in users
              .card.mb-5
                .card-body
                  .row
                    .col-12.col-lg-8.col-md-6
                      h3.display-4.mb-0.text-truncated.text-sug.mb-3 #{u.name} #{u.lastname}
                      p(id='biog') #{u.description}
                    .col-12.col-lg-4.col-md-6.text-center
                      img.mx-auto.rounded-circle.img-fluid(src=u.profileImage, alt='')
                        
      #gallery.container.gallery.mt-5
        -var conter = 1;
        .row
          each img in current.photos
            .col-sm-12.col-md-4.gal-item
              .box
                  .avatar-upload
                    .avatar-edit
                      input(id = 'imageUpload'+conter, type='file', accept='.png, .jpg, .jpeg')
                      label(for='imageUpload'+conter)
                    .avatar-preview
                      a.lightbox(href=img)
                        img(id = 'imagePreview'+conter,src=img)
                        -conter++;
        button.btn.pmd-btn-fab.pmd-btn-raised.pmd-ripple-effect.btn-default(type='button')
          a(href='/chat')
            i.fas.fa-comment-alt              
          
    
    
    // Scripts
    // JQuery
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js')
    // Baguette gallery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/updateInfo.js')
    script.
      baguetteBox.run('.gallery');
